*{
    margin:0;
    padding:0;
}

    .header1{
            left: 0px;
            top: 44px;
            width: 100%;
            height: 44px;
            line-height: 20px;
            text-align: center;
            border: 1px solid rgba(187, 187, 187, 100);
            background-color: #C9C9CE 8000%;
            color:black;
        }
    .return{
        text-align: left;  
    }
    .title{
        color: black;
        text-align: center;
        padding-top: 15px;
    }
    h4{
        left: 172px;
        top: 48px;
        width: 48px;
        height: 20px;
        color: rgba(255, 255, 255, 100);
        font-size: 15px;
        text-align: center;
        font-family: Helvetica-regular;
        float: right;
    }
    #content img{
        left: 72px;
        top: 30px;
        width: 80%;
        border: solid 1px;
        border-radius: 20px;
        color: rgb(200, 199, 199);
        font-size: 15px;
        font-family: Helvetica-regular;
        text-align: center;
        margin-bottom: 10px;
    }
    h3{
        left: 60px;
        top: 113px;
        width: 120px;
        height: 25px;
        color: rgba(16, 16, 16, 100);
        font-size: 20px;
        float: right;
        font-family: SFUIText-regular;
    }
    .price{
        left: 299px;
        margin-top: 25%;
        width: 72px;
        height: 30px;
        color: rgba(16, 16, 16, 100);
        font-size: 20px;
        text-align: left;
        float: right;
        position: absolute;
        font-family: SFUIText-regular;
    }
    .onhand{
        left: 62px;
        top: 273px;
        width: 22px;
        
    }
    .send{
        left: 62px;
        top: 273px;
        width: 22px;
        
    }
    .choose{
        margin-top: 30px;
        top: 300px;
        width: 60%;
        text-align: left;
        margin-left: 30%;
        margin-right: 30%;
    }
    .choose2{
        margin-top: 30px;
        margin-bottom: 5%;
        top: 300px;
        width: 60%;
        text-align: left;
        margin-left: 30%;
        margin-right: 30%;
    }
   
    .sumwhraper{
        top: 200px;
        width: 100%;
        text-align: center;
    }
    .main{
        margin:5% 5% 5% 5%;
        margin-bottom: 40px;
        margin-top: 50px;
        text-align: center;
    }
    h2{
        padding-top: 10px;
        text-align: left;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 900;
    }
    p{
        width: 100%;
        text-align: center;
        margin-top: 5%;
    }
    .whrap{
        padding: 20px 0 20px 0;
        margin-top: 15%;
        background-color: rgb(236, 234, 234);
    }

    #content{
        margin-bottom: 5%;
    }
    button{
        -webkit-appearance: none;
        display: inline-block;
        border-radius: 10px;
        font-size: 16pt;
        font-weight: 900;
        text-align: center;
        cursor: pointer;
        height: 50px;
        width: 160px;
        background: #ffaad8;
        color: #ffffff;
        line-height: 1em;
        transition: .3s;
        box-shadow: 1px 1px 3px #666666;
        border: 2px solid #ffaad8;
        margin-top: 20px;
    
    }
    .sumwhraper h2{
        text-align: center;
    }