   *{
    margin:0;
    padding:0;
    }


    .select{
        top: 104px;
        width: 100%;
        height: 252px;
        background-color:#B0F7F7F7;
    }
    label {
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    }
    

   input,
   label {
    margin: .4rem 0;
   }
    .category-whrap{
        width: 100%;
        text-align: right;
        background-color: blue;
    }
    h4{
        left: 16px;
        top: 377px;
        width: 56px;
        height: 20px;
        color: black;
        font-size: 17px;
        text-align: left;
        font-family: Helvetica-regular;
    }
    p{
        font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 700;
    }
    .category{
        left: 312px;
        top: 377px;
        width: 43px;
        height: 22px;
        color: rgba(255, 255, 255, 100);
        font-size: 17px;
        text-align: right;
        font-family: Helvetica-regular;
    }

    #set_image{
        width: 100%;
        min-height: 100px;
        max-height: 300px;
        height: auto;
        text-align: center;
        margin-bottom: 15px;
        
    }
    #set_image img{
        height: auto;
        max-height: 250px;
        width: auto;
        max-width: 100%;
    }

    

    #set_price{
        height: 45px;
        width:100%;   
        border-top: 1px solid;
        border-color: darkgrey;
    }

  .button{
     -webkit-appearance: none;
    }

    #set_price input{
        border: 1px solid;
        border-color: darkgrey;
        position: relative;
        left: 8%;
        height: 30px;
        border-radius: 5px;
    } 

    #set_price p{
        display: inline;
        position: relative;
        left: 5%;
    }

    #set_name{
        height: 45px;
        width:100%;   
        border-top: 1px solid;
        border-color: darkgrey;
        
    }

    #set_name input{
        border: 1px solid;
        border-color: darkgrey;
        position: relative;
        left: 8%;
        height: 30px;
        border-radius: 5px;
    } 

    #set_name p{
        display: inline;
        position: relative;
        left: 5%;
    }

    #description{
        width: 100%;
        height: auto;
        text-align: center;
        border-top: 1px solid;
        border-color: darkgrey;
    }

    textarea{
        width: 95%;
        height: 200px;
        margin-top: 40px;
        margin-bottom: 20px;
        border: 1px solid;
        border-color: darkgrey;
        border-radius: 5px;
        padding: 10px;
    }


    #submit{
        width: 100%;
        height: auto;
        text-align: center;
    }

    #submit input{
        margin-top: 10px;
        width: 30%;
        height: 50px;
        border: 2px solid #ffaad8;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        font-weight: 700;
        font-size: 20px;
    }

    #content{
        margin-bottom: 20%;
    }

    input[type="number"]::-webkit-outer-spin-button, 
    input[type="number"]::-webkit-inner-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    } 

    input[type="number"] { 
     -moz-appearance:textfield; 
    }  



